{% extends "header.html" %}
{% block content %}
<h1>MY ADDRESSES</h1>

<form class="form-inline my-2 my-lg-3">
    <input class="form-control mr-sm-2" type="add-address" placeholder="Flat no/house no, area" aria-label="add-address" name="address">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Address</button>
</form>

{% for address in addresses %}
    <h5>&emsp;Address : </h5>
        <h6>
            &emsp;&emsp;{{address}},
        </h6>
{% endfor %}

{% endblock content %}