{%extends "header.html" %}
{%load crispy_forms_tags %}
{%block content%}
<div class="">
  <h1>Profile</h1>
  <hr></hr>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="https://i.etsystatic.com/23010786/r/il/e03d4a/2317371994/il_570xN.2317371994_pr1c.jpg" width = "118" height = "118">
          <div class="media-body">
            <h2 class="account-heading">{{ customer.name }}</h2>
            <h5 class="text-secondary">{{customer.email}}</h5>
            <h5 class="text-secondary">{{customer.phone}}</h5>
            <h5 class="text-secondary"><img width="20px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMaDS6bDqDuePR_wBe2gh0i1sfaaIuUNoQNQ&usqp=CAU"> {{customer.res_coins}}</h5>
            <h5 class="text-secondary">₹ {{customer.balance}}</h5>

            <a class="Add-balance-edit" href="/users/add_balance">Add balance</a><br>
            <a class="Address-book" href="/users/address_book">Address Book</a><br>
            <a class="detail-edit" href="/users/edit_details">Edit Details</a><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content%}
