{% extends "header.html" %}
{% block content %}
<h1>Employee_signup</h1>


<form action="{% url 'users:employee_signup' %}" method="post">
{% csrf_token %}
<h3 align = "center">Enter Details</h3>
username:
<input required type="text" name="username" value="" />
<br>password:
<input required type="password" name="password1" value="" />
<br>
Confirm password:
<input required type="password" name="password2" value="" />
<br>
Name: 
<input required type="text" name="name" value="" />
<br>
Position: 
<input required type="text" name="position" value="" />
<br>
Salary: 
<input required type="text" name="salary" value="" />
<br>
<input type="submit" value="Create Account" />
</form>

{% endblock content %}